
/*Configuração Geral do Documento html*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    color: #ffffff;
    background-color: #0c141d;
}
    /*Header do Documento com Título Descrito por h1*/
    header{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Main do Documento com seções decritas por section e outros hereditários*/
    main{
        background-color: #080d14;
        height: 80vh;
        width: 100%;
    }
        main section{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 80vh;
        }
        main .InterfaceStart{
            justify-content: center !important;
        }
            .InterfaceStart form{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-image: url(./photoGallery/background.png);
                background-size: 10vh;
                background-repeat:repeat;
                background-position: center; 
            }                
                .InterfaceStart form input{
                    outline: 0;
                    text-align: center;
                    padding: 2vh;
                    border-radius: 1vh;
                    border: 0.2vh solid transparent;
                }
                .InterfaceStart form input::placeholder{
                    color: #080d14;
                }
                .InterfaceStart form input:focus{
                    background-color: #0c141d;
                    border-color: #ffffff;
                    color: #ffffff;
                }
                .InterfaceStart form input:focus::placeholder{
                    color: #ffffff;
                }
                .button{ 
                    padding: 2vh 4vh;
                    border-radius: 1vh;
                    border: 0.2vh solid #ffffff;
                    background-color: #080d14;
                    color: #ffffff;
                    cursor:pointer;
                }
                .button:hover{
                    background-color: #ffffff;
                    color: #080d14;
                }
        main .InterfaceDisplay{
            display: none;
        }
            .InterfaceDisplay h1{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .InterfaceDisplay aside{
                display: flex;
                flex-flow: row wrap;
                background-color: #0c141d;
            }
                aside p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid 0 #ffffff;
                }
        
/*Configuração Horizontal do Documento html*/
@media (orientation: landscape){
    /*Header do Documento com Título Descrito por h1*/
        header h1{
            font-size: 5vw;
        }
    /*Main do Documento com seções decritas por section e outros hereditários*/
            .InterfaceStart form{
                width: 50%;
                height: 40vh;
                flex-flow: row wrap;
                margin-bottom: 10vh;
            }
                .InterfaceStart form input{
                    font-size: 1.5vw;
                }
                .InterfaceStart h1{
                    font-size: 1.8vw;
                }
            .InterfaceDisplay h1{
                    height: 9vh;
                    font-size: 2.5vw;
            }
            .InterfaceDisplay aside{
                    height: 61vh;
                    width: 61vh;
                    box-shadow:  0vh 0.1vh 1vh 0.1vh #ffffff;
            }
                aside p{
                        height: 20vh;
                        width: 20vh;
                        font-size: 4vw;
                }
                aside .vertical{
                        border-left-width: 0.5vh;
                        border-right-width: 0.5vh;
                }
                aside .horizontal{
                        border-top-width: 0.5vh;
                        border-bottom-width: 0.5vh;
                }        
}

/*Configuração Vertical do Documento html*/
@media (orientation: portrait){
    /*Header do Documento com Título Descrito por h1*/
        header h1{
            font-size: 13vw;
        }
    /*Main do Documento com seções decritas por section e outros hereditários*/
            .InterfaceStart form{
                width: 80%;
                height: 40vh;
                padding: 5vh 0vw;
                flex-flow: column wrap;
                margin-bottom: 5vh;
            }
                .InterfaceStart form input{
                    font-size: 2.2vh;
                }
                .InterfaceStart h1{
                    font-size: 2.2vh;
                } 
            .InterfaceDisplay h1{
                    height: 10vh;
                    font-size: 7vw;
            }
            .InterfaceDisplay aside{
                    height: 76vw;
                    width: 76vw;
                    box-shadow:  0vh 0.2vw 2vw 0.2vw #ffffff;
            }
                aside p{
                        height: 25vw;
                        width: 25vw;
                        font-size: 10vw;
                }
                aside .vertical{
                        border-left-width: 0.5vw;
                        border-right-width: 0.5vw;
                }
                aside .horizontal{
                        border-top-width: 0.5vw;
                        border-bottom-width: 0.5vw;
                }           
}
